@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff;
  color: black;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(#000, #808080, #000);
}

*::-webkit-scrollbar-thumb {
  height: 5rem;
  background-color: #71c85f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
